<!-- NAVIGATION -->
<nav aria-label="Main navigation">
  <div class="container">
    <a href="{{nav_prefix}}index.html" class="logo"><img src="{{nav_prefix}}img/Entuned_logo.png" alt="Entuned" class="logo-img"></a>
    <ul class="nav-links">
      <li><a href="{{nav_prefix}}how-it-works.html">How It Works</a></li>
      <li class="nav-dropdown">
        <a href="#" class="nav-dropdown-trigger">For Your Industry</a>
        <ul class="nav-dropdown-menu">
          <li><a href="{{nav_prefix}}for-apparel.html">Apparel</a></li>
          <li><a href="{{nav_prefix}}for-cosmetics.html">Cosmetics</a></li>
          <li><a href="{{nav_prefix}}for-home-goods.html">Home Goods</a></li>
        </ul>
      </li>
      <li><a href="{{nav_prefix}}pilot.html">Pilot Program</a></li>
      <li><a href="{{nav_prefix}}blog.html">Blog</a></li>
      <li class="nav-cta-mobile"><a href="{{nav_prefix}}contact.html">Contact</a></li>
    </ul>
    <a href="{{nav_prefix}}contact.html" class="btn btn-primary nav-cta">Contact</a>
    <button class="mobile-menu-toggle" aria-label="Menu">&#9776;</button>
  </div>
</nav>
