<!-- NAVIGATION -->
<nav>
  <div class="container">
    <div class="logo">Entuned</div>
    <ul class="nav-links">
      <li><a href="{{nav_prefix}}index.html">Home</a></li>
      <li><a href="{{nav_prefix}}how-it-works.html">How It Works</a></li>
      <li><a href="{{nav_prefix}}science.html">The Science</a></li>
      <li><a href="{{nav_prefix}}blog.html">Blog</a></li>
      <li><a href="{{nav_prefix}}play/">Listen</a></li>
    </ul>
    <button class="mobile-menu-toggle">&#9776;</button>
  </div>
</nav>
